<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center" >
                <h1>Página no encontrada <small><font face="Tahoma" color="red"> Error 404</font></small></h1>
                <br />
                <img src="../assets/imagenes/subaru404.png" />
                <p>La página que solicitó no se pudo encontrar, póngase en contacto o vuelva a intentarlo.
                <p><b> Usted podría  presionar este pequeño botón:</b></p>
                <a href="/"  class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Llevame al inicio</a>
            </div>
        </div>
    </div>
</div>
</div>