<div class="row">

  <div class="col-lg-12 well">
    <div class="row">

      <form (ngSubmit)="actualizar()" #sucursalForm="ngForm" *ngIf="sucursal">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3 form-group">
              <label for="nombre">Nombre Comercial</label>
              <input type="text" name="nombre" placeholder="Ingresa aqui el nombre sucursal" required [(ngModel)]="sucursal.nombre" class="form-control"
                #nombre>
            </div>

            <div class="col-sm-3 form-group">
              <label for="direccion">Domicilio Fiscal</label>
              <input type="text" name="direccion" placeholder="Ingresa aqui el domicilio fiscal" required [(ngModel)]="sucursal.direccion"
                class="form-control">
            </div>

            <div class="col-sm-3 form-group">
              <label for="celular">Contacto</label>
              <input type="text" name="celular" placeholder="Ingresa aqui el número de telefono fijo" required [(ngModel)]="sucursal.contacto"
                class="form-control">
            </div>



            <div class="col-sm-3 form-group">
              <label for="Departamento">Departamento</label>
              <select class="form-control" #departamento [ngModelOptions]="{standalone: true}" [(ngModel)]="sucursal.ubigeo[0].ubigeoId"
                (ngModelChange)="cboDepartamento($event)">
                <option
                  
                   [selected] = "departamento.ubigeoId === sucursal.ubigeo[0].ubigeoId" 
                   *ngFor="let departamento of departamentos"
                   [ngValue]="departamento.ubigeoId">
                    
                      
                      {{departamento.descripcion}}
                      </option>
              </select>
            </div>

            <div class="col-sm-3 form-group">
              <label for="provincia">Provincia</label>
              <select class="form-control" #provincia [ngModelOptions]="{standalone: true}" [(ngModel)]="sucursal.ubigeo[1].ubigeoId" (ngModelChange)="cboProvincia($event)">
              
                <option 
                [selected] = "provincia.ubigeoId === sucursal.ubigeo[1].ubigeoId" 
                [value]="provincia.ubigeoId"
                 *ngFor="let provincia of provincias">
                 
                 {{provincia.descripcion}}
                 
                 </option>
              </select>
            </div>
            <div class="col-sm-3 form-group">
              <label for="distrito">Distrito</label>
              <select class="form-control" #distrito name="distrito.ubigeoId" [(ngModel)]="sucursal.ubigeo[2].ubigeoId">
                <option
                [selected] = "distrito.ubigeoId === sucursal.ubigeo[2].ubigeoId" 
                 [value]="distrito.ubigeoId" 
                 *ngFor="let distrito of distritos">
                 {{distrito.descripcion}}
                 </option>
              </select>
            </div>
            <div class="col-sm-3 form-group">
            </div>
            <div class="col-sm-3 form-group">
              <button type="button" class="btn btn-default" (click)="gotoLisSucursal()">Regresar</button>
              <button type="submit" class="btn btn-primary">Grabar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
