<div id="spling-menu" class="container round">

    <div class="item">
        <div class="inner">
            <div class="imagen7">
                <p> Agendamiento de Citas</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="inner">
            <div class="imagen6">
                <p>Control de Producción</p>
            </div>
        </div>
    </div>
   
    <div class="item">
        <div class="inner">
            <div class="imagen1" [routerLink]="['/g-data.motriz/users-taller']">
                <p> Gestion de Taller</p>
            </div>
        </div>
    </div>

    <div id="plus-button2" [routerLink]="['/g-data.motriz/users-admin']">
        
            <div style="font-family:'Eurostile';font-size:16px;font-style: italic;text-align: left; font-weight: bold;">Pre</div> <br>
            <div style="font-family:'Eurostile';font-size:34px;font-style: italic;text-align: left; font-weight: bold;">G-Data<br> &nbsp;&nbsp;&nbsp;Motriz </div>
    

    </div>